.nav {
   grid-area: n;
   padding: 10px;
   background-color: #f0d92a; 
 }
 a {
   text-decoration: none;
 }
 .item {
   margin: 0 0 10px 0;
 }
 .item a{
   color: #558bee;
 }
 .item.active a{
   color: #026e4e;
   font-weight: 700;
 }