.imageProfile img {
  max-width: 100%;
}
.descriptionBlock {
  padding: 10px;
}
.addPhotoButton {
  margin: 10px 0 10px 0;

 

}
.addPhotoButton input {
  padding: 5px;
  border: 1px solid aquamarine;
  border-radius: 10px;
}