.nav {
   grid-area: n;
   padding: 20px;
   background-color: rgb(246, 179, 93); 
   font-weight: 700;
 }
 
 .item {
   margin: 0 0 10px 0;
 }
 .item a{
   color: #558bee;
   text-decoration: none;
 }
 .item a.active{
   color: #023f2d;
   font-weight: 700;
 }
 .friends {
  margin: 50px 0 0 0;
 }
 .friends a {
  font-size: 30px;

 }
 .friendsPersons {
  display: flex;
  justify-content: space-between;
  
 }